<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

  <div class="container">

    <aside class="sidebar">
      <h3>QuickNet</h3>

      <a href="/docs/">Home</a>
      <a href="/docs/installation">Installation</a>
      <a href="/docs/quickstart">Quickstart</a>
      <a href="/docs/types">Types</a>
      <a href="/docs/general">General</a>
      <a href="/docs/events">Events</a>
      <a href="/docs/functions">Functions</a>
      <a href="/docs/cleanup">Cleanup</a>
    </aside>

    <main class="content">
      {{ content }}
    </main>

  </div>

</body>
</html>
